.fieldset {
  & + & {
    margin-top: var(--size-double-gap);
  }
}

.label {
  margin: 0 0 var(--size-half-gap);
  font-size: 14px;
}

.slot {
  margin: var(--size-half-gap) 0 0;
}

.required {
  margin-inline-start: 2px;
  color: var(--color-danger);
  font-weight: bold;
}
