.room {
  --keyboard-button-bg: rgba(#fff, 0.5);
  --keyboard-button-color: #fff;
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.preview {
  position: relative;
}

.video {
  width: 100%;
  background: #fff;
  vertical-align: bottom;
}
