// WARNING: If you change styles here, you have to change it in the Autor project too
:root {
  --color-common: #fff;
  --color-primary: #000;
  --color-text: var(--color-primary);
  --color-secondary: #333;
  --color-tertiary: #777;
  --color-border: var(--color-tertiary);
  --color-hint: #dadada;
  --color-link: #22d;
  --color-success: #36b555;
  --color-danger: #f54b42;
  --color-warning: #fc0;
  --color-info: #0c78ed;
}
