:root {
  --font-tiny: 12px;
  --font-small: 14px;
  --font-base: 16px;
  --font-big: 18px;
  --font-bigger: 22px;
  --font-large: 28px;
  --font-title: 32px;

  --font-regular: 400;
  --font-semibold: 500;
  --font-bold: 600;

  --font-lh-regular: 1.25;

  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
