.container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  padding: var(--size-gap);
  width: 100%;
}

.menu {
  flex: 0 0 240px;
}

.content {
  flex: 1;
  margin: 0 auto;
}

.small {
  max-width: 480px;
}

.medium {
  max-width: 620px;
}

.big {
  max-width: 800px;
}

.article {
  position: relative;
}

.title {
  margin: 0 0 var(--size-double-gap);
  font-size: 22px;
  color: var(--color-secondary);
}
